# Folder view configuration files
.DS_Store
Desktop.ini
.vscode

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes<Paste>

# Stuff
*.swp
*.pyc
