* {{
    /* #THEME_MAIN_COLORS */
    background-colour: {background};
    foreground-colour: {foreground};
    primary-colour: {color5};
    secondary-colour: {color2};
    danger-colour: {color1};
}}
